.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
}

.hero img {
  border-radius: 10px;
}

.hero button {
  padding: 10px 20px;
  background: #0d6efd;
  color: white;
  border: none;
  cursor: pointer;
}