.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: #0d6efd;
  color: white;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
  cursor: pointer;
}